# created by virtualenv automatically

api/v1/app/unencrypted
*decrypted/
bin/
lib/

# Environments
.env
.venv
env/
pyvenv.cfg
venv/

# Editor directories and files
.idea
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
